/* Submitted by: James Lee */
/*      College: Seminole State College of Florida */
/*       Course: COP 2831 Advanced JavaScript - Final Project (Kissimmee) */
/*   Instructor: Professor Rosario */
/*         Date: December 3, 2021 */

/*
.bx-wrapper .bx-viewport .wrapperClass {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
*/
